# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [1]:
%pip install pandas
%pip install 'SQLAlchemy==1.4.46'

Requirement already satisfied: pandas in /usr/local/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/pheltweg/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/pheltweg/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy==1.4.46 in /usr/local/lib/python3.11/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/site-packages (from SQLAlchemy==1.4.46) (2.0.2)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Load data

In [34]:
import pandas as pd
import sqlite3

db_path = '../data/database.sqlite'

conn = sqlite3.connect(db_path)

# Create a cursor object
cursor = conn.cursor()

# Read the table into a DataFrame
df_events = pd.read_sql_query("SELECT * FROM extreme_weather_events", conn)
df_events.head(15)

,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Country,Country Code,Location,...,Local Time,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Geo Locations
0,1909,2,Natural,Biological,Epidemic,Bacterial disease,Bubonic,Indonesia,IDN,None,...,None,40.0,NaN,NaN,NaN,NaN,NaN,NaN,3.479379,None
1,1914,22,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,"Kepahyang, Bengkulu (Sumatera)",...,3:07,20.0,20.0,NaN,NaN,20.0,NaN,NaN,3.878863,None
2,1917,3,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,Bali,...,7:08,15000.0,NaN,NaN,NaN,NaN,NaN,NaN,4.961337,None
3,1919,1,Natural,Geophysical,Volcanic activity,Ash fall,Mt. Kelud,Indonesia,IDN,Small Island between Java and Sumatra,...,None,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,6.713913,None
4,1924,7,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,Wonosobo (Central Java),...,None,727.0,NaN,NaN,11250.0,11250.0,NaN,NaN,6.636593,None
5,1927,14,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,"Sulawesi, Donggala",...,11:37,50.0,50.0,NaN,NaN,50.0,NaN,NaN,6.726800,None
6,1928,12,Natural,Geophysical,Earthquake,Tsunami,None,Indonesia,IDN,Flores sea,...,None,128.0,NaN,NaN,NaN,NaN,NaN,NaN,6.649480,None
7,1930,3,Natural,Geophysical,Volcanic activity,Ash fall,Mt. Merapi,Indonesia,IDN,Java Island,...,None,1369.0,NaN,NaN,NaN,NaN,NaN,NaN,6.469068,None
8,1931,12,Natural,Geophysical,Volcanic activity,Ash fall,Mt. Merapi,Indonesia,IDN,None,...,None,1300.0,NaN,NaN,NaN,NaN,NaN,NaN,5.889171,None
9,1932,9,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,"Kakas, Langowan, Poso, Tondano (North Sulawesi)",...,21:08,6.0,115.0,NaN,2960.0,3075.0,NaN,NaN,5.283502,None
10,1936,15,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,"Banda Aceh, Lhok Sukon, Lhoksemawe",...,4:12,9.0,20.0,NaN,NaN,20.0,NaN,NaN,5.373708,None
11,1936,11,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,"Tapanuli, Karo (North Sumatera)",...,None,17.0,NaN,NaN,NaN,NaN,NaN,NaN,5.373708,None
12,1938,9,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,Tomini Gulf (Central Sulawesi),...,1:08,NaN,NaN,920.0,4710.0,5630.0,NaN,NaN,5.451027,None
13,1942,27,Technological,Technological,Transport accident,Air,Short S-23,Indonesia,IDN,"Near Kupang, Timor",...,None,13.0,NaN,NaN,NaN,NaN,NaN,NaN,6.327315,None
14,1943,24,Natural,Geophysical,Earthquake,Ground movement,None,Indonesia,IDN,Jogyakarta (Central Java),...,23:53,213.0,2096.0,14000.0,NaN,16096.0,NaN,NaN,6.701026,None

### Look at the first rows

In [3]:
df.head(10)

,EVA_NR,DS100,IFOPT,NAME,Verkehr,Laenge,Breite,Betreiber_Name,Betreiber_Nr,Status
0,8002551,AELB,de:02000:11943,Hamburg Elbbrücken,RV,10.024500,53.534500,DB Station und Service AG,NaN,neu
1,8001944,TETN,None,Eutingen Nord,RV,8.753100,48.484700,DB Station und Service AG,NaN,neu
2,8003074,MIA,None,Ingolstadt Audi,RV,11.407456,48.790496,DB Station und Service AG,NaN,neu
3,8001723,HEBA,None,Einbeck Otto-Hahn-Straße,RV,9.892910,51.814478,Ilmebahn GmbH,NaN,neu
4,8004371,KRO,None,Nörvenich-Rommelsheim,nur DPN,6.547586,50.782539,Rurtalbahn GmbH,NaN,neu
5,8010340,DSTR,None,Straßgräbchen-Bernsdorf,nur DPN,14.052047,51.361469,None,NaN,neu
6,8001510,TDSA,de:08237:8009:2,Dornstetten-Aach,RV,8.482910,48.473300,DB Station und Service AG,NaN,neu
7,8001966,MFOL,de:09187:90183,Feldolling,nur DPN,11.852244,47.895336,DB Station und Service AG,NaN,neu
8,8002060,FFGG,de:06412:11500,Frankfurt(Main)-Gateway Gardens,RV,8.594495,50.056574,DB Station und Service AG,NaN,neu
9,8002535,EOBG,de:05962:3517,Halver-Oberbrügge,RV,7.574042,51.191867,DB Station und Service AG,NaN,neu

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [6]:
df.info()

df['Status'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVA_NR          6519 non-null   int64
 1   DS100           6519 non-null   object
 2   IFOPT           6512 non-null   object
 3   NAME            6519 non-null   object
 4   Verkehr         6519 non-null   object
 5   Laenge          6519 non-null   float64
 6   Breite          6519 non-null   float64
 7   Betreiber_Name  6517 non-null   object
 8   Betreiber_Nr    5395 non-null   float64
 9   Status          24 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 509.4+ KB

array(['neu', None], dtype=object)